<div class = "container">
  <div class = "row">
    <div class  = "col-md-4">
      <br>
      <button class = "btn btn-outline-primary">Add New Quiz</button>
    </div>
    <div class = "col-md-8">
      <br>
      <button class = "btn btn-outline-success">Save</button>
      <button class = "btn btn-link">Cancel</button>
      <br>
      <br>
      <div classs = "card">
        <div class ="card-header">
          General
        </div>
        <div class ="card-body">
          Coming Soon!
        </div>

      </div>
      <br>
      <div classs = "card">
        <div class ="card-header">
          Questions
        </div>
        <div class ="card-body">
          Coming Soon!
        </div>

      </div>
    </div>
  </div>

</div>

