<div class="container">
  <div class="row">
    <div class="col-md-4"><button class="btn btn-outline-primary">Add New Quiz</button>
      <div class="list-group">
          <div class="list-group-item">Foo</div>
        </div>
    </div>
    
    <div class="col-md-8"><button class="btn- btn-outline-success">Save</button>
      
      <div class="card">
      <div class="card-herder">General</div>
      <div class="card-body">Coming soon</div>
    </div>
    <button class="btn btn-linl">Cancel</button>
    <div class="card">
      <div class="card-herder">Questions</div>
      <div class="card-body">Coming soon</div>
    </div>
    <div class="card">
      <div class="card-herder">Other</div>
      <button class="btn btn-outline-danger">Delete</button>
    </div>
  </div>
  </div>
</div>