<div class="container">
    <div class="row" *ngIf="serviceDown">
      <div class="col-md-12">
          <div class="card">
        <div class="card-body">
          <h1>Quiz Service is down. Please try again later ...</h1>
        </div>
      </div>
      
      </div>

      </div>
  <div class="row" *ngIf="!serviceDown">

    <div class="col-md-4"><button 
      (click) = "addNewQuiz()"
      class="btn btn-outline-primary"
      >Add New Quiz</button>
      <div class="list-group">
     
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
          [class.active] ="quiz === selectedQuiz" 
          (click) = "selectQuiz(quiz)" href="#"  
          *ngFor = " let quiz of quizzes">{{quiz.name}} 
          <span class="badge badge badge-secondary"
          [class.bg-danger] =" quiz.numberOfQuestions === 0"
          >
            {{quiz.numberOfQuestions}}</span></a>
       
   
      </div>
    </div>
      <div class="col-md-8" *ngIf="!selectedQuiz">
        <div class="card">
          <div class="card-body">Select or add Aquiz</div>
        </div>
      </div>
    
    <div class="col-md-8" *ngIf ="selectedQuiz"><button class="btn btn-outline-success">Save</button>
      <button class="btn btn-link">Cancel</button>
      
      <div class="card">
      <div class="card-herder">General</div>
      <div class="card-body"> 
        <input type="text" 
        [(ngModel)] = "selectedQuiz.name" class="form-control">
      </div>
    </div>
    <div class="card">
      <div class="card-herder">Questions</div>
      <div class="card-body">Coming soon</div>
    </div>
    <div class="card">
      <div class="card-herder">Other</div>
      <div class="card-body">
          <button class="btn btn-outline-danger">Delete This Quiz</button>
      </div>
      
    </div>
  </div>
  </div>
</div>